[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pyinstaller = "*"
flake8 = "*"
setuptools = "<45.0.0"

[packages]
beautifulsoup4 = "*"
html5lib = "*"
pyppeteer = "*"
websockets = "==6.0"

[requires]
python_version = "3.8"
