[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pyinstaller = "*"
flake8 = "*"

[packages]
beautifulsoup4 = "*"
selenium = "*"
html5lib = "*"

[requires]
python_version = "3.8"
